/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 16px (base-font-size) */

html
{
    font-size: 62.5%; /* Sets up the Base 10 stuff */

    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body
{
    font-family: $base-font-family;

    color: $base-font-color;

    @include font-size-px($base-font-size);
    text-rendering: optimizeLegibility;
}

body,
input,
button
{
    -webkit-font-smoothing: antialiased;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 20px;
    margin-bottom: 2rem;
}
h1
{
    line-height: 1.2;

    @include font-size-rem(4.0);
}
h2
{
    line-height: 1.25;

    @include font-size-rem(3.6);
}
h3
{
    line-height: 1.3;

    @include font-size-rem(3.0);
}
h4
{
    line-height: 1.35;

    @include font-size-rem(2.4);
}
h5
{
    line-height: 1.5;

    @include font-size-rem(1.8);
}
h6
{
    line-height: 1.6;

    @include font-size-rem(1.5);
}

/* Larger than phablet */
@media #{$medium-up}
{
    h1
    {
        @include font-size-rem(5.0);
    }
    h2
    {
        @include font-size-rem(4.2);
    }
    h3
    {
        @include font-size-rem(3.6);
    }
    h4
    {
        @include font-size-rem(3.0);
    }
    h5
    {
        @include font-size-rem(2.4);
    }
    h6
    {
        @include font-size-rem(1.5);
    }
}

p
{
    margin-top: 0;

    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

        -ms-hyphens: auto;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a
{
    color: $corp-color-second;
}
a:hover
{
    color: $corp-color-second-dark;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr
{
    margin-top: 30px;
    margin-top: 3rem;
    margin-bottom: 35px;
    margin-bottom: 3.5rem;

    border-width: 0;
    border-top: 1px solid #e1e1e1;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul
{
    list-style: circle inside;
}
ol
{
    list-style: decimal inside;
}
ol,
ul
{
    margin-top: 0;
    padding-left: 0;
}
ul ul,
ul ol,
ol ol,
ol ul
{
    font-size: 90%;

    margin: 15px 0 15px 30px;
    margin: 1.5rem 0 1.5rem 3rem;
}
li
{
    margin-bottom: 10px;
    margin-bottom: 1rem;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code
{
    font-size: 90%;

    margin: 0 2px;
    margin: 0 .2rem;
    padding: 2px 5px;
    padding: .2rem .5rem;

    white-space: nowrap;

    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background: #f1f1f1;
}
pre > code
{
    display: block;

    padding: 10px 15px;
    padding: 1rem 1.5rem;

    white-space: pre;
}

/* Blockquote
–––––––––––––––––––––––––––––––––––––––––––––––––– */

blockquote
{
    font-style: italic;
}

blockquote:before
{
    display: inline-block;

    padding-right: 4px;
    padding-right: .4rem;

    content: '\201C';
}

/* Print
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media print
{
    *
    {
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    p,
    h2,
    h3
    {
        orphans: 3; /* http://css-tricks.com/almanac/properties/o/orphans/ */
        widows: 3;  /* http://css-tricks.com/almanac/properties/w/widows/ */
    }
    h2,
    h3
    {
        page-break-after: avoid;
    }
}
